# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
report.json
report2.json
genenemy3.json
genenemy3.xlsx
genlevelupdps3.json
genlevelupdps32.json
genleveluphp3.json
genlevelupdownatk3.json
genlevelupdownatk32.json
genevent3ml.xlsx
gen*.json
gen*.xlsx
*-level*.xlsx
map001.xlsx